a{
    text-decoration: none;
    color: #328032;
    
}

header ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
    
}

nav{
    background-color: blue;
}

